h1 {
color: orange;
text-align: center;
}

body {
    font-family: 'Bitter';
    font-size: 11pt;
}

#banner {
    background:url('./img/cropped-hurricane-banner_00.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height:189px;
    opacity: 30%;
}

#bannerText{
    color: white;
    font-size: 11pt;
}
