h1 {
color: orange;
text-align: center;
}

body {
    font-family: 'Bitter';
    font-size: 11pt;
    color: red;
}

#banner {
    background:url('./img/cropped-hurricane-banner_00.jpg');
    width:100%;
    min-height:189px;
}
