h1 {
color: orange;
text-align: center;
}

body {
    font-family: 'Bitter';
    font-size: 11pt;
}

.banner {
    color: white;
    font-size: 22pt;
     z-index: 1;
}

.banner .bg{
    background:url('./img/cropped-hurricane-banner_00.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height:189px;
    opacity: 50%;
    z-index: -1;
}
